
<h2 style="text-align:center">Creator</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../../assets/Images/img.jpg" alt="img" style="width: 241px;;height:250px;">
          <div class="container">
            <h2>Manthan Ankolekar</h2>
            <p class="title">Front End Developer</p>
            <p>Intent Front End Developer & Designer</p>
            <p>manthan.ank46@gmail.com</p>
            <p>API used are: 
              <a href="https://api.covid19api.com/dayone/country/"><i class="fa fa-api link" style="font-size:30px;color: rgb(90, 90, 90);">API Link1</i></a>,
              <a href="https://api.covid19api.com/countries"><i class="fa fa-api link" style="font-size:30px;color: rgb(90, 90, 90);">API Link2</i></a>
            </p>
            <p>Reference from YouTube : 
              <a href="https://www.youtube.com/watch?v=O8KifZ5Zsuo&t=2381s"><i class="fa fa-youtube link" style="font-size:30px;color: rgb(90, 90, 90);">Link1</i></a>,
              <a href="https://www.youtube.com/watch?v=hPJMa1A-VNg&t=3617s"><i class="fa fa-youtube link" style="font-size:30px;color: rgb(90, 90, 90);">Link2</i></a>
            </p>
            <p><button class="button" onClick="click()">
              <a href="https://github.com/manthanank"><i class="fa fa-github" style="font-size:30px;color: beige;">manthanank</i></a>
            </button></p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a routerLink="about">Goto About Page</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                    <h3>Covid Tracker App</h3>
                    <p>Sample project for Covid-19 Tracker</p>
                    <p>Designed and Developed as an intent beginner Project</p>
                  </div>
                  <div class="col item social"><h3>Social Icons</h3><a href="https://m.facebook.com/Manthan.ankolekar?ref=bookmarks"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/manthan_ank"><i class="icon ion-social-twitter"></i></a><a href="https://github.com/manthanank"><i class="icon ion-social-github"></i></a><a href="https://www.instagram.com/manthan_ank/"><i class="icon ion-social-instagram"></i></a></div>
              </div>
              <p class="copyright">Covid Tracker App © 2021</p>
          </div>
      </footer>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
