
<h2 style="text-align:center">Creator</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../../assets/Images/img.jpg" alt="img" style="width: 380px;;height:450px;">
          <div class="container">
            <h2>Manthan Ankolekar</h2>
            <p class="title">Front End Developer</p>
            <p>Intent Front End Developer & Designer</p>
            <p>manthan.ank46@gmail.com</p>
            <p><button class="button" onClick="click()">
              <a href="https://github.com/manthanank"><i class="fa fa-github" style="font-size:30px;color: beige;">manthanank</i></a>
            </button></p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-basic">
      <footer>
          <div class="social"><a href="https://www.instagram.com/manthan_ank/"><i class="fa fa-instagram link"></i></a><a href="https://github.com/manthanank"><i class="fa fa-github link"></i></a><a href="https://twitter.com/manthan_ank"><i class="fa fa-twitter link"></i></a><a href="https://m.facebook.com/Manthan.ankolekar?ref=bookmarks"><i class="fa fa-facebook link"></i></a></div>
          <ul class="list-inline">
              <div class="about-section">
                <h1>About</h1>
                <p>Sample project for Covid-19 Tracker</p>
                <p>Designed and Developed as an intent beginner Project</p>
                <p>API used are: <a href="https://api.covid19api.com/dayone/country/"><i class="fa fa-api link" style="font-size:30px;color: rgb(51, 51, 48);">API Link1</i></a>,
                  <a href="https://api.covid19api.com/countries"><i class="fa fa-api link" style="font-size:30px;color: rgb(51, 51, 48);">API Link1</i></a>
                </p>
                <p>Reference from YouTube : <a href="https://www.youtube.com/watch?v=O8KifZ5Zsuo&t=2381s"><i class="fa fa-youtube link" style="font-size:30px;color: rgb(51, 51, 48);">Link1</i></a>,
                    <a href="https://www.youtube.com/watch?v=hPJMa1A-VNg&t=3617s"><i class="fa fa-youtube link" style="font-size:30px;color: rgb(56, 56, 51);">Link2</i></a>
                </p>
              </div>
          </ul>
          <p class="copyright">Covid19 Tracker © 2021</p>
      </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
