<br>
<br>
<br>
<div class="mx-auto">
  <div class="form-group col-lg-5 mx-auto">
    <label for=""><h3>Country </h3></label>
    <div class="input-group" id="inputGroupSelect04">
      <select (change)="getCountry($event.target.value)">
        <option selected>Choose the Country</option>
        <option *ngFor="let c of countries">{{c.Country}}</option>
      </select>
      <div class="input-group-append">
        <button (click)="getDetails()" class="btn btn-outline-secondary">Submit</button>
      </div>
    </div>
  </div>
</div>


<br>
<br>


<div class="ui four column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <div class="ui statistic">
          <div class="label">
            Confirmed
          </div>
          <div class="value">
            {{confirmed}}
          </div>
        </div>
      </div>
      <div class="content">
        <a class="header">Confirmed Cases</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <div class="ui statistic">
          <div class="label">
            Recovered
          </div>
          <div class="value">
            {{recovered}}
          </div>
        </div>
      </div>
      <div class="content">
        <a class="header">Recovered Cases</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <div class="ui statistic">
          <div class="label">
            Death
          </div>
          <div class="value">
            {{death}}
          </div>
        </div>
      </div>
      <div class="content">
        <a class="header">Deaths</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <div class="ui statistic">
          <div class="label">
            Active
          </div>
          <div class="value">
            {{active}}
          </div>
        </div>
      </div>
      <div class="content">
        <a class="header">Active Cases</a>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row"> 
  <div class="col">
    <google-chart [type]='chart.PieChart' 
    [data]=''>
  </google-chart>
  </div>
  <div class="col">
    <google-chart [type]='chart.ColumnChart' 
    [data]=''>
  </google-chart>
  </div>
</div>

<br>
<br>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a routerLink="about">Goto About Page</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                <h3>Covid Tracker App</h3>
                <p>Sample project for Covid-19 Tracker</p>
                <p>Designed and Developed as an intent beginner Project</p>
              </div>
              <div class="col item social"><h3>Social Icons</h3><a href="https://m.facebook.com/Manthan.ankolekar?ref=bookmarks"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/manthan_ank"><i class="icon ion-social-twitter"></i></a><a href="https://github.com/manthanank"><i class="icon ion-social-github"></i></a><a href="https://www.instagram.com/manthan_ank/"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">Covid Tracker App © 2021</p>
      </div>
  </footer>
</div>