.card {
    align-items: center;
  }

.flex-container{
  display: flex;
  background-color: rgb(255, 251, 251);
  justify-content: space-between;
}
.flex-container > div{
  background-color: rgb(85, 83, 83);
  margin: 80px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
