.container{
    padding: 10px;
    
    select{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 10px;
    }
}